<footer>
    <hr>
    <div class="footer">
        <div class="footer-one">
           <h3>Head Office</h3> 
           <ul>
                <li>+234 906 562 5919</li>
                <li class="li">Km 42, Lekki-Epe Express Way,Oko-Ado, Sangotedo, Ajah, Lagos</li>
                <li>info &#64; landwey.ng</li>
           </ul>
        </div>
        <div class="footer-one">
            <h3>Head Office</h3> 
            <ul>
                 <li>Isimi Lagos</li>
                 <li>Lakowe Country Reserve</li>
                 <li>Coastal Town</li>
            </ul>
         </div>
         <div class="footer-one">
            <h3>Head Office</h3> 
            <ul>
                 <li>About Us</li>
                 <li>Schedule an inspection</li>
                 <li>Privacy & Policy</li>
            </ul>
         </div>
         <div class="footer-one">
            <h3>Head Office</h3> 
            <ul>
                 <li>Instagram</li>
                 <li>Youtube</li>
                 <li>Linkedin</li>
                 <li>x</li>
            </ul>
         </div>
    </div>
</footer>

