.image2{
    background-image: url(../../../public/asset/template.jpg);
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 700px;
    margin: 50px 30px 50px 30px;
    padding: 20px;
}
.middle{
    border: 2px solid white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 650px;
    flex-direction: column;
    color: white;
}
h1{
    font-size: 50px;
    width: 360px;
    text-align: center;
}
p{
    font-size: 25px;
    width: 74%;
    font-weight: 500;
}